@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'tailwindcss';

@theme{
  --color-oragne-100:hsl(26, 100%, 55%);
  --color-pale-orange:hsl(25, 100%, 94%);
  --color-very-dark-blue:hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue:hsl(220, 14%, 75%);
  --color-light-grayish-blue:hsl(223, 64%, 98%);
  
  --font-kumb:"Kumbh Sans", sans-serif;


  --animate-slide-in-left: slide-in-left .3s ease-in;
  --animate-slide-out-left: slide-out-left .3s ease-in;

  
  --animate-slide-in-right: slide-in-right .3s ease-in;
  --animate-slide-out-right: slide-out-right .3s ease-in;
}

.style-a{
  @apply  leading-3 hover:cursor-pointer border-b-4 border-b-white py-8 hover:border-b-oragne-100 transition-colors duration-100 ease-in 
}

.style-thumbnail{
  @apply rounded-lg hover:opacity-50 hover:cursor-pointer transition-all duration-100 ease-in;
}

@keyframes slide-in-left {
  0%{
    transform: translateX(-100%);;
  }
  100%{
    left:0;
  }
}

@keyframes slide-out-left {
  0%{
    left:0;
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes slide-in-right {
  0%{
    transform: translateX(100%);;
  }
  100%{
    right:0;
  }
}

@keyframes slide-out-right {
  0%{
    right:0;
  }
  100%{
    transform: translateX(100%);
  }
}